<div id="splash">
  <%= link_to 'Desert Landscape', 'pages/landscape_desert.html' %>
  <%= link_to 'Glacial Landscape', 'pages/landscape_glacial.html' %>
  <%= link_to 'Karst Landscape', 'pages/landscape_karst.html' %>
  <%= link_to 'Tundra Landscape', 'pages/landscape_tundra.html' %>
  <%= link_to 'Volcanic Landscape', 'pages/landscape_volcanic.html' %>
</div>